<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Autodesk.ADN.Toolkit.Viewer -->
    <script src=" p.js"></script>
    <script src="upload.js"></script>

    </script>
</head>

<body onload="initialize();">


  <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Upload and translate a file </h3> 

            </div>
            <div class="panel-body">
                <input class="form-control" type="file" id="files" name="files" multiple />

                <br />
                <div style="text-align: center;">
                    <a class="btn btn-primary" id="btnTranslateThisOne">Translate this for me</a>
                </div>

                <br />
                <div id="msg"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Uploaded and translateds URNs</h3>
            </div>
            <div class="panel-body">
       

                <legend>My URN list</legend>
                <div>Copy any of the following URNs and paste it in the form below with a title to add it to your URNs stored here</div>
                <div id="list"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Store URNs</h3>
            </div>
            <div class="panel-body">
            	<%= form_for @mod, url: {action: "create", controller: "mods"}, html: {class: "nifty_form"} do |f| %>
            	<p><%= f.label :title %><br>
    			<%= f.text_field :title %></p>
    			<p><%= f.label :urn %><br>
    			<%= f.text_field :urn %></p>
            	<%= f.check_box :latest %> Make this the viewable (visible to judges and on your home page)<br><br>
                <%= f.hidden_field :uid , :value => @user.id %>
            	<%= f.submit "Add to my Models" %><br>
            	<% end %>
          </div>
    </div>
    </div>

</body>
</html>